@charset "UTF-8";

@font-face {
    font-family: "Roman Antique";
    src: url("../fonts/RomanAntique.ttf") format("truetype");
}

:root {
    --fonte01: "Roman Antique", serif;

    --cor_preto: #000000;
    --cor_branco: #ffffff;

    --cor_principal: #FFF2D7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte01); 
    color: var(--cor_principal);
}

body {
    background-image: url("../img/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; 
    background-attachment: fixed;
    width: 100vw; 
    height: 100vh;
    overflow-x: hidden!important;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17rem!important;
    margin: auto;
    width: 100%;
    height: 100%;
}

.nome {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 10px;
} 

.ig {
    margin-bottom: 30px;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

a {
    display: flex;
    text-decoration: none;
    width: 220px;
    padding: 0.5rem;
    border-radius: 50px; 
    text-align: center;
    background-color: var(--cor_principal);
    align-items: center;
    gap: 10px;
    justify-content: center;
    transition: .2s ease-in;
}

.enfeite-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: 50px;
    gap: 5px;
    border: 1px solid #000;
}

a:hover {
    background-color: #dfd2ba;
}

a p {
    color: var(--cor_preto);
    font-size: 1.2rem;
}

a img {
    width: 20px;
}

@media screen and (min-width: 504px) {
    main {
        margin-top: 25rem!important;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-image: url("../img/fundo-pc.png");
    }

    main {
        margin-top: 17rem!important;
    }

    a {
        width: 300px;
    }
}